<div class="stats-container">
  <div class="stats">
    <div class="stat">
      <span class="key">Moves</span>
      <span class="value">{{movesCount()}}</span>
    </div>
    <div class="stat">
      <span class="key">Time</span>
      <span class="value">{{timeCount()}}</span>
    </div>
    <div class="stat">
      <span class="key">Level</span>
      <span class="value">{{currentLevel()}}</span>
    </div>
    <div class="stat">
      <span class="key">Difficulty</span>
      <span class="value">{{currentGameMetaData().difficulty}}</span>
    </div>
  </div>
</div>
<div class="grid">
  <app-grid></app-grid>
  <div class="actions">
    <button class="new-game" (click)="handleNewGame()">New Game</button>
    <button class="reset" (click)="handleReset()">Reset</button>

    @if(isGameWon()){
    <app-celebration
      (playAgain)="handleReset()"
      (newGame)="handleNewGame()"
    ></app-celebration>
    }
  </div>
</div>
@if(bestScore()){
<div class="best-score">
  <span class="head">Best</span>
  <div class="stats">
    <div class="stat">
      <span class="key">Time</span>
      <span class="value">{{bestScore()?.time}}</span>
    </div>
    <div class="stat">
      <span class="key">Moves</span>
      <span class="value">{{bestScore()?.move}}</span>
    </div>
  </div>
</div>
}
